<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" style="color: rgb(255, 255, 255); font-weight: bold; font-size: 32px" routerLink="/" routerLinkActive="router-link-active">Plusoft</a>
    <button type="button" class="btn btn-primary d-flex" style="background-color: rgb(255, 255, 255); border-color:#ffff">
      <a routerLink="/admin-screen" routerLinkActive="router-link-active" style="color: rgb(0, 0, 0); text-decoration:none; font-weight:500">
        Admin Side
      </a>
    </button>
  </div>
</nav>
